apiVersion: batch/v1
kind: CronJob
metadata:
  name: ml-trainer-cron
spec:
  schedule: "0 2 * * *" # Every day at 2 AM
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: trainer
              image: docker.io/saze21/mlops-porto-trainer:latest
              command: ["bash", "docker/run_train_pipeline.sh"]
              volumeMounts:
                - name: model-storage
                  mountPath: /output
                - name: data-storage
                  mountPath: /data
          volumes:
            - name: model-storage
              persistentVolumeClaim:
                claimName: model-pvc
            - name: data-storage
              persistentVolumeClaim:
                claimName: data-pvc
          restartPolicy: Never
      backoffLimit: 1
